[submodule "jos_faust"]
	path = modules/josm_faust
	url = https://github.com/josmithiii/jos_faust
[submodule "doxygen-awesome-css"]
	path = docs/doxygen/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
