/* custom.css */

/* some are just test colors for now, to be obvious */

html {
    /* define light-mode variable overrides here */
}

/* See ./doxygen-awesome-css/doxygen-awesome.css:182
 */
@media (prefers-color-scheme: dark) {
    html:not(.light-mode) {
        /* define dark-mode variable overrides here if you DON'T use doxygen-awesome-darkmode-toggle.js */
        /* --primary-dark-color: #5ca8e2; */
        --page-background-color: #001166; /* page background color in dark mode - good with this */
        --code-background: #002288; /* offsets from background and surrounds insets - 003300 too dark - once f5f5f5 */ 
        --page-foreground-color: #CCCCCC; /* primary text color - 2c3e50 in doxygen-awesome.css (light mode?) */
        --page-secondary-foreground-color: #AAAAAA; /* secondary text color - 67727e in " */
        --primary-color: #5ca8f2; /* hyperlinks of any kind */
        --primary-dark-color: #0088CC; /* variable names - should be LIGHT because dark-mode reverses adjectives here */
        --primary-light-color: #000055; /* was 8bbee9 - border color for insets */
        --primary-lightest-color: #00FFFF; /* was e9f1f8 - drop-shadaw HIGHLIGHTING glow around selected tab etc. */
        --primary-lighter-color: #0000FF; /* was cae1f1 - used in dark mode as narrow drop-shadow border glow */
        /* Doxyfile::HTML_COLORSTYLE_HUE has no effect. Colors are hard wired in doc/doxygen.css */

        /* https://github.com/jothepro/doxygen-awesome-css/discussions/13 */
        --fragment-background: #fdf6e3;
        --fragment-foreground: #586e75;
        --fragment-keyword: #cb4b16;
        --fragment-keywordtype: #268bd2;
        --fragment-keywordflow: #859900;
        --fragment-token: #2aa198;
        --fragment-comment: #657b83;
        --fragment-link: #d33682;
        --fragment-preprocessor: #2aa198;
        --fragment-linenumber-color: #586e75;
        --fragment-linenumber-background: #eee8d5;
    }
}

html.dark-mode {
    /* define dark-mode variable overrides here if you DO use doxygen-awesome-darkmode-toggle.js */
    /* COPY THE ABOVE */
}
